* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #E77F3F;
}

h1 {
    padding: 20px;
}

img {
    width: 100vw;
    display: block;
    margin: auto;
    
    
}

main, footer {
    
}

h2, p, footer {
    margin: 10px;
}